- content_for(:title, "Dev.Study :: " + article['title'] + " by " + article['author'])

.row
  .col-lg-12.col-md-12
    .article-title
      %h1= article['title']

.row
  .col-lg-2.col-md-2
  .col-lg-8.col-md-8
    .article-content
      .info
        %span.date
          = article.date_html
        %span.tags
          = article.tags_html
        %span.author
          = article.author_html
      .body
        = markdown_engine.render IO.read(article['source'])
        - if article.comments.length > 0
          %hr 
        .panel.panel-default.comments
          - article.comments.each do |comment|
            .panel-heading.comment
              %i.fa.fa-user
              = comment['name']
              %i.fa.fa-calendar
              = comment['date']
            .panel-body
              = comment['body']
    %hr
    = partial "../partials/comment"
  .col-lg-2.col-md-2

