%nav.navbar.navbar-inverse.navbar-fixed-top{ role: "navigation" }
  %div.navbar-header
    = link_to "Dev.Study.Archive", "/", class: "navbar-brand"
  %div.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        = link_to "Articles", "/pages/articles.html"
      %li
        = link_to "Presentations", "/pages/presentations.html"
      %li
        = link_to "Hangouts", "/pages/hangouts.html"
      %li
        = link_to "Missions", "/pages/missions.html"
      %li
        = link_to "Projects", "/pages/projects.html"
      %li
        = link_to "References", "/pages/references.html"
      %li
        = link_to "About", "/pages/about.html"
      %li
        %a{href: "https://www.facebook.com/groups/dev.study/"} Facebook Group
