%nav.navbar.navbar-inverse.navbar-fixed-top{ role: "navigation" }
  %div.navbar-header
    = link_to "Dev.Study.Archive", "/index.html", class: "navbar-brand", :relative => true 
  %div.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        = link_to "Articles", "/pages/articles.html", :relative => true 
      %li
        = link_to "Presentations", "/pages/presentations.html", :relative => true 
      %li
        = link_to "Hangouts", "/pages/hangouts.html", :relative => true 
      %li
        = link_to "Missions", "/pages/missions.html", :relative => true 
      %li
        = link_to "Projects", "/pages/projects.html", :relative => true 
      %li
        = link_to "References", "/pages/references.html", :relative => true 
      %li
        = link_to "About", "/pages/about.html", :relative => true 
      %li
        %a{href: "https://www.facebook.com/groups/dev.study/"} Facebook Group
