- content_for(:title, "Dev.Study :: " + hangout['title'] + " by " + hangout['author'])

.row
  .col-lg-12.col-md-12
    .article-title
      %h1= hangout['title']

.row
  .col-lg-2.col-md-2
  .col-lg-8.col-md-8
    .article-content
      .info
        %span.date
          = hangout.date_html
        %span.tags
          = hangout.tags_html
        %span.author
          = hangout.author_html
      .body
        .slide
          = hangout.slide_html
        .video
          = hangout.video_html
        .reference
          = hangout.references_html
    %hr
    = partial "../partials/comment"
  .col-lg-2.col-md-2
